<% if (locals.success_msg && success_msg.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success_msg %>
    </div>
<% } %>

<% if (locals.error_msg && error_msg.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error_msg %>
    </div>
<% } %>