<%- include('partials/header') %>
<div class="main-content">
    <h1>Hakkımızda</h1>
    <p>Biz, Silver Wyandotte ırkına gönül vermiş bir aile işletmesiyiz.</p>
</div>
<%- include('partials/footer') %>